<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удаление</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="delete-body">
        <h1>Удаление</h1>
        <div class="back-button-container">
            <button class="red" onclick="location.href='{% url 'supplies' %}'">Назад</button>
        </div>
        <div class="delete-button-container">
            <button class="red" onclick="location.href='{% url 'all_clear' %}'">Удалить всё</button>
            <button class="red" onclick="location.href='{% url 'product_clear' %}'">Удалить все товары</button>
            <button class="red" onclick="location.href='{% url 'sale_clear' %}'">Удалить все продажи</button>
            <button class="red" onclick="location.href='{% url 'supplier_clear' %}'">Удалить всех поставщиков</button>
            <button class="red" onclick="location.href='{% url 'supply_clear' %}'">Удалить все поставки</button>
            <button class="red" onclick="location.href='{% url 'content_of_supply_clear' %}'">Удалить содержание поставки</button>
            <button class="red" onclick="location.href='{% url 'shipment_clear' %}'">Удалить все отгрузки</button>
            <button class="red" onclick="location.href='{% url 'content_of_shipment_clear' %}'">Удалить содержание отгрузки</button>
        </div>
    </div>
</body>
</html>
