{% extends 'templet.html' %}
{% block title %} Система учета товаров {% endblock %}

{% block main %}
    <div class="company-info">
        <h1>Добро пожаловать в систему учёта товаров</h1>
        <p>Мы предоставляем лучшие решения для управления складами.</p>
    </div>
    <div class="button-container">
        <a class="button" href="{% url 'sales' %}">Продажи</a>
        <a class="button" href="{% url 'supplies' %}">Поставки</a>
        <a class="button" href="{% url 'reports' %}">Отчёты</a>
    </div>
{% endblock %}