<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система учета товаров</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a class="navbar-button" href="{% url 'sales' %}">Продажи</a>
        <a class="navbar-button" href="{% url 'supplies' %}">Поставки</a>
        <a class="navbar-button" href="{% url 'reports' %}">Отчёты</a>
    </div>
    <div class="main">
        <h1>Добро пожаловать в систему учёта товаров</h1>
        <div class="button-container">
            <a class="button" href="{% url 'sales' %}">Продажи</a>
            <a class="button" href="{% url 'supplies' %}">Поставки</a>
            <a class="button" href="{% url 'reports' %}">Отчёты</a>
        </div>
    </div>
</body>
</html>
