<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление товара</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <h1>Добавить товар</h1>
    <div class="back-button-container">
            <button class="button" onclick="location.href='{% url 'supplies' %}'">Назад</button>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="confirm_button" type="submit">Добавить товар</button>
        {% if result %}
            <br>{{ result }}
        {% endif %}
    </form>
</body>
</html>



