{% extends 'template 2.html' %}
{% block title %} Список товаров {% endblock %}

{% block main %}
    
    <h1 class="header">Список товаров</h1>
    <div class="center-container">
        <div class="content-container">
            <button class="one-button-container" onclick="location.href='{% url 'product_add' %}'">Добавить товар</button>
        </div>

        <div class="content-container">
            <form method="GET" action="{% url 'product_list' %}">
                <input type="text" name="q" placeholder="Поиск товаров..." required class="search-field">
                <button class="search-button" type="submit">Поиск</button>
            </form>
        </div>

        <div class="content-container">
        {% if products|length > 0 %}
            <h2 class="content-title">Товары</h2>
            <div class="content">
                {% for product in products %}
                    <div class="item">
                        <div class="info">
                            <div class="id">{{ product.code }}</div>
                            <div class="supply-supplier">{{ product.title }}</div>
                            <div class="dates">{{ product.manufacturer }} - {{ product.price }} руб.</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <h2 class="empty-title">Список товаров пуст</h2>
    {% endif %}
{% endblock %}
