{% extends 'template 2.html' %}
{% block title %} Добавление товара {% endblock %}
{% block back%}<a href="{% url 'product_list' %}">Назад</a>{% endblock%}

{% block main %}
    <h1 class="header">Добавить товар</h1>
    <div class="center-container">
            <div class="content-container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button" type="submit">Добавить</button>
                </form>
            </div>
            {% if result %}
                <div class="content-container">
                    {{ result }}
                </div>
            {% endif %}
    </div>
{% endblock %}