{% extends 'template 2.html' %}
{% block title %} Необходимость заказа {% endblock %}
{% block back%}<a href="{% url 'manager' %}">Назад</a>{% endblock%}

{% block main %}
    <h1 class="header">Необходимость заказа</h1>
    <div class="center-container">
        <div class="content-container">
            <p>Отчет показывает список товаров, которых за последние 30 дней продано больше, чем сейчас есть на складе</p>
        </div>
    </div>
    {% if report_data is not none %}
    <div class="center-container">
        <div class="content-container">
            <h2 class="content-title">Товары</h2>
            <div class="content">
                {% for data in report_data %}
                    <div class="item">
                        <div class="info">
                            <div class="id">{{ data.product }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <h2>На складе нет товаров</h2>
    {% endif %}
{% endblock %}
