<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчёты</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    <h1>Отчёты</h1>
    <div class="button-container">
        <div class="report-container">
            <button class="button" onclick="location.href='{% url 'report_needful_stuff' %}'" title="Генерация отчетов о необходимости заказа (чего мало на складе, но много покупают)">Необходимость заказа</button>
            <button class="button" onclick="location.href='{% url 'report_sold_stuff' %}'" title="Генерация отчетов о продажах (сколько продали)">Проданные товары</button>
            <button class="button" onclick="location.href='{% url 'report_stored_stuff' %}'" title="Генерация отчетов о состоянии склада (сколько товаров есть)">Товары на складе</button>
            <button class="button" onclick="location.href='{% url 'report_saleroom_stuff' %}'" title="Генерация отчетов о состоянии торгового помещения (сколько товаров есть)">Товары в торговом помещении</button>
        </div>
    </div>
</body>
</html>
