{% extends 'templet 2.html' %}
{% block title %} Список товаров {% endblock %}

{% block main %}
    {% if productsInStock|length > 0 %}
    <h1 class="header">Товары в торговом помещении</h1>
    <div class="center-container">
        <div class="content-container">
            <h2 class="content-title">Товары</h2>
            <div class="content">
                {% for product in productsInStock %}
                    <div class="item">
                        <div class="info">
                            <div class="id">{{ product.productId }}</div>
                            <div class="supply-supplier">{{ product.amount }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <h2>На складе нет товаров</h2>
    {% endif %}
{% endblock %}
