<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проданные товары</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <h1>Проданные товары</h1>
    <div class="back-button-container">
        <button class="button" onclick="location.href='{% url 'reports' %}'">Назад</button>
    </div>
    <p>А тут пока что ничего и нет, ХА</p>
    <button class="confirm_button">Сформировать</button>
</body>
</html>
