<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Необходимость заказа</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'reports'%}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    <h1>Необходимость заказа</h1>
    <p>Отчет показывает список товаров, которых за последние 30 дней продано больше, чем сейчас есть на складе</p>
    {% if report_data is not none %}
    <table>
        <thead>
            <tr>
                <th>Товар</th>
            </tr>
        </thead>
        <tbody>
            {% for data in report_data %}
            <tr>
                <td>{{ data.product }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>
