{% extends 'template 2.html' %}
{% block title %} Проданные товары {% endblock %}
{% block back%}<a href="{% url 'manager' %}">Назад</a>{% endblock%}

{% block main %}
    <h1 class="header">Проданные товары</h1>
    <div class="center-container">
        <div class="content-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="confirm_button" type="submit">Сформировать</button>
            </form>
        </div>
    {% if sales_data is not none %}
        <div class="content-container">
            <h2 class="content-title">Товары</h2>
            <div class="content">
                {% for sale in sales_data %}
                    <div class="item">
                        <div class="info">
                            <div class="id">{{ sale.product }}</div>
                            <div class="supply-supplier">{{ sale.total_amount }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
{% endblock %}