<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары на складе</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'reports'%}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    {% if productsInStock|length > 0 %}
    <h2>Товары на складе</h2>
    <div class = "content">
        <table>
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                {% for product in productsInStock %}
                <tr>
                    <td>{{ product.productId }}</td>
                    <td>{{ product.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h2>На складе нет товаров</h2>
    {% endif %}
</body>
</html>
