<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проданные товары</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style2.css' %}">
</head>

<body>
    <div class="navbar">
        <a href="{% url 'reports'%}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    <h1 class="header">Проданные товары</h1>
    <div class="center-container">
        <div class="content-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="confirm_button" type="submit">Сформировать</button>
            </form>
        </div>
    {% if sales_data is not none %}
        <div class="content-container">
            <h2 class="content-title">Товары</h2>
            <div class="content">
                {% for sale in sales_data %}
                    <div class="item">
                        <div class="info">
                            <div class="id">{{ sale.product }}</div>
                            <div class="supply-supplier">{{ sale.total_amount }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
</body>

</html>