{% extends 'template 2.html' %}
{% block title %} Товары на складе {% endblock %}
{% block back %}
    {% if request.GET.backurl == 'm' %}
        <a href="{% url 'manager' %}">Назад</a>
    {% elif request.GET.backurl == 'sk' %}
        <a href="{% url 'storekeeper' %}">Назад</a>
    {% else %}
        <a href="{% url 'home' %}">Назад</a>
    {% endif %}
{% endblock %}

{% block main %}
    {% if productsInStock|length > 0 %}
    <h1 class="header">Товары на складе</h1>
    <div class="center-container">
        <div class="content-container">
            <h2 class="content-title">Товары</h2>
            <div class="content">
                {% for product in productsInStock %}
                    <div class="item">
                        <div class="info">
                            <div class="id">{{ product.productId }}</div>
                            <div class="supply-supplier">{{ product.amount }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <h2>На складе нет товаров</h2>
    {% endif %}
{% endblock %}
