<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продажи</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href='{% url 'home' %}'>Назад</a>
        <a href='{% url 'sales' %}'>Продажи</a>
        <a href='{% url 'supplies' %}'>Поставки</a>
        <a href='{% url 'reports' %}'>Отчёты</a>
    </div>
    <div class="content">
        <h1>Продажи</h1>
        <!-- Потом переместить (так пока что удобнее) -->
        <div class="main-container">
            <div class="left-buttons">
                <button class="button" onclick="location.href='{% url 'sales_list' %}'">Список продаж</button>
                <button class="button" onclick="location.href='{% url 'shipment_list' %}'">Список отгрузкок</button>
            </div>
            <div class="center-button">
                <button class="button" onclick="location.href='{% url 'search' 'sales' %}'">Поиск</button>
            </div>
            <div class="right-buttons">
                <button class="button" onclick="location.href='{% url 'sales_add' %}'">Добавить продажу</button>
                <button class="button" onclick="location.href='{% url 'shipment_add' %}'">Добавить отгрузку</button>
            </div>
        </div>
    </div>
    <!-- Потом удалить, нужно для дебага -->
    <button class="red" onclick="location.href='{% url 'debug_deleted' %}'">Удаление</button>
</body>
</html>
