<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказ {{ sale_number }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/one.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'search' 'sales' %}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    <h1 class="header">Заказ №{{ sale.id }}</h1>
    <div class="center-container">
        <div class="content-container">
            <div class="content">
                 <div class="info">
                   Дата продажи {{sale.saleDate}}
                 </div>
            </div>
        </div>
        <div class="content-container">
            <div class="content">
                 <div class="info">
                     <h2 class="sum_title">Сумма продажи: {{total}} руб.</h2>
                 </div>
            </div>
        </div>
        <div class="content-container">
            <h2 class="content-title">Содержание продажи</h2>
            <div class="content">
                {% for content in sale_contents %}
                    <div class="item">
                            <div class="info">
                                <div class="id">{{content.product}}</div>
                                <div class="dates">{{content.amount}}</div>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
