<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление продажи</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <h1>Добавить продажу</h1>
    <div class="back-button-container">
            <button class="button" onclick="location.href='{% url 'sales' %}'">Назад</button>
    </div>
    <form method="post">
        {% csrf_token %}
        {% if count == 0 %}
        <p>Нет товаров в торговом помещении</p>
        {% endif %}
        {{ form.as_p }}
        <button class="confirm_button" type="submit">Добавить</button>
        {% if result %}
            <br>{{ result }}
        {% endif %}
    </form>
</body>
</html>
