<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список поставок</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="back-button-container">
        <button class="button" onclick="location.href='{% url 'sales' %}'">Назад</button>
    </div>
    {% if sales|length > 0 %}
    <h2>Список заказов</h2>
    <div class = "content">
        <table>
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>saleDate</th>
                    <th>extraInfo</th>
                    <th>totalPrice</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale.code }}</td>
                    <td>{{ sale.saleDate }}</td>
                    <td>{{ sale.extraInfo }}</td>
                    <td>{{ sale.totalPrice }} руб.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h2>Список заказов пуст</h2>
    {% endif %}
</body>
</html>
