{% extends 'template 2.html' %}
{% block title %} Список продаж {% endblock %}

{% block main %}
    <h1 class="header">Список продаж</h1>
    <div class="center-container">
        <div class="content-container">
            <button class="one-button-container" onclick="location.href='{% url 'sales_add' %}'">Добавить продажу</button>
        </div>
        <div class="content-container">
        {% if sales|length > 0 %}
            <h2 class="content-title">История продаж</h2>
            <div class="content">
                {% for sale in sales %}
                    <div class="item">
                        <div class="info">
                            <div class="id">№ {{ sale.id }}</div>
                            <div class="dates">{{ sale.saleDate }}</div>
                        </div>
                           <button class="button" onclick="location.href='{% url 'sale_detail' sale_number=sale.id %}'">Открыть</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
            <h2 class="empty-title">Список продаж пуст</h2>
    
    {% endif %}
{% endblock %}
