<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список продаж</title>
    <link rel="stylesheet" href="{% static 'main/css/list.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'sales' %}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    {% if sales|length > 0 %}
    <h1 class="supplies-header">Список продаж</h1>
    <div class="center-container">
        <div class="content-container">
            <button class="one-button-container" onclick="location.href='{% url 'sales_add' %}'">Добавить продажу</button>
        </div>
        <div class="content-container">
            <h2 class="content-title">История продаж</h2>
            <div class="content">
                {% for sale in sales %}
                    <div class="supply-item">
                        <div class="supply-info">
                            <div class="supply-id">№ {{ sale.id }}</div>
                            <div class="supply-dates">{{ sale.saleDate }}</div>
                        </div>
                           <button class="button" onclick="location.href='{% url 'get_sale' sale_number=sale.id %}'">Открыть</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <h2 class="empty-title">Список продаж пуст</h2>
    {% endif %}
</body>
</html>
