<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    <script>
        function setSearchType(type) {
            document.getElementById('searchType').checked = type === 'supplies';
        }
        function clearPlaceholder(input) {
            input.placeholder = "";
        }
    </script>
</head>
<body onload="setSearchType('{{ search_type }}')">
    <div class="navbar">
        <a href="{% url back_url %}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    <div class="search-container">
        <h1>Поиск</h1>
        <label for="searchType">По заказам</label>
        <label class="toggle-switch">
            <input type="checkbox" id="searchType">
            <span class="slider round"></span>
        </label>
        <label for="searchType">По поставкам</label>
        <form action="{% url 'get_supply' %}" method="get">
            <input type="number" name="supply_number" placeholder="Введите номер поставки" required class="search-field">
            <button class="button">Поиск</button>
        </form>

    </div>
</body>
</html>
