{% extends 'template 2.html' %}
{% block title %} Список отгрузок {% endblock %}

{% block main %}
    <h1>Добавить отгрузку</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {{ formset.management_form }}
      <div id="form_set">
        {% for form in formset %}
          <div class="formset-form">{{ form.as_table }}</div>
        {% endfor %}
      </div>

      <div id="empty_form" style="display:none">
        <div class="formset-form">
            {{ formset.empty_form.as_table }}
            <button onclick="deleteForm(this)">X</button>
        </div>
      </div>
      <input type="button" value="Еще" id="add_more" />
      <script>
        function deleteForm(button) {
          var form = button.closest('.formset-form');
          form.remove();
          updateFormIndices();
      }

      function updateFormIndices() {
        var forms = document.querySelectorAll('.formset-form');
        var totalForms = forms.length - 1;
        document.getElementById('id_form-TOTAL_FORMS').value = totalForms;

        forms.forEach(function(form, index) {
            form.querySelectorAll('input, select, textarea').forEach(function(input) {
                if (input.name) {
                    input.name = input.name.replace(/form-\d+-/, 'form-' + index + '-');
                }
                if (input.id) {
                    input.id = input.id.replace(/form-\d+-/, 'form-' + index + '-');
                }
            });
        });
    }

        $('#add_more').click(function () {
          var form_idx = $('#id_form-TOTAL_FORMS').val()
          $('#form_set').append(
            $('#empty_form')
              .html()
              .replace(/__prefix__/g, form_idx)
          )
          $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1)
        })
      </script>

      <button class="confirm_button" type="submit">Добавить</button>
      {% if result %}
        <br />{{ result }}
      {% endif %}
    </form>
{% endblock %}



