<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отгрузка {{ shipment_number }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'shipment_list' %}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    <h1>Отгрузка {{ shipment_number }}</h1>
    <div class = "content">
        <p>Дата отгрузки: {{ shipment.shipDate }}</p>
        <table>
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            {% for content in shipment_content %}
            <tr>
                <td>{{ content.productId }}</td>
                <td>{{ content.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {{ result }}
    </div>
    <div class="button-container">
        <button class="edit_button">Изменить</button>
    </div>
</body>
</html>
