{% extends 'template 2.html' %}
{% block title %} Список отгрузок {% endblock %}
{% block back%}<a href="{% url 'shipment_list' %}">Назад</a>{% endblock%}

{% block main %}
    <h1 class="header">Добавить отгрузку</h1>
    <div class="center-container">
        <div class="content-container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {{ formset.management_form }}
        <div id="form_set">
        <div class="content">
        {% for form in formset %}
          <div class="item">
            <div class="info">
              <div class="formset-form">{{ form.as_table }}</div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>

      <div id="empty_form" style="display:none">
        <div class="formset-form">
            {{ formset.empty_form.as_table }}
            <button class="button_x" onclick="deleteForm(this)">X</button>
        </div>
      </div>
      <input class="button_more" type="button" value="Ещё" id="add_more" />
      <script>
        function deleteForm(button) {
          var form = button.closest('.formset-form');
          form.remove();
          updateFormIndices();
      }

      function updateFormIndices() {
        var forms = document.querySelectorAll('.formset-form');
        var totalForms = forms.length - 1;
        document.getElementById('id_form-TOTAL_FORMS').value = totalForms;

        forms.forEach(function(form, index) {
            form.querySelectorAll('input, select, textarea').forEach(function(input) {
                if (input.name) {
                    input.name = input.name.replace(/form-\d+-/, 'form-' + index + '-');
                }
                if (input.id) {
                    input.id = input.id.replace(/form-\d+-/, 'form-' + index + '-');
                }
            });
        });
    }

        $('#add_more').click(function () {
          var form_idx = $('#id_form-TOTAL_FORMS').val()
          $('#form_set').append(
            $('#empty_form')
              .html()
              .replace(/__prefix__/g, form_idx)
          )
          $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1)
        })
      </script>
        </div>
        <div class="content-container">
            <button class="button" type="submit">Добавить</button>
        </div>
      {% if result %}
      <div class="content-container">
        {{ result }}
      </div>
      {% endif %}
    </form>
            </div>
        </div>
{% endblock %}



