{% extends 'template 2.html' %}
{% block title %} Список отгрузок {% endblock %}
{% block back%}<a href="{% url 'shipment_list' %}">Назад</a>{% endblock%}

{% block main %}
<h1 class="header">Отгрузка № {{ shipment_number }}</h1>
    <div class="center-container">
        <div class="content-container">
            <div class="content">
                 <div class="info">
                     Дата отгрузки: {{ shipment.shipDate }}
                 </div>
            </div>
        </div>

        <div class="content-container">
            <h2 class="content-title">Содержание отгрузки</h2>
            <div class="content">
                {% for content in shipment_content %}
                    <div class="item">
                            <div class="info">
                                <div class="id">{{ content.productId }}</div>
                                <div class="dates">{{ content.amount }} шт.</div>
                            </div>
                    </div>
                {% endfor %}
                {{ result }}
            </div>
        </div>
    </div>
{% endblock %}
