{% extends 'template 2.html' %}
{% block title %} Список отгрузок {% endblock %}
{% block back%}<a href="{% url 'storekeeper' %}">Назад</a>{% endblock%}

{% block main %}
    
    <h1 class="header">Список отгрузок</h1>
    <div class="center-container">
        <div class="content-container">
            <button class="one-button-container" onclick="location.href='{% url 'shipment_add' %}'">Добавить отгрузку</button>
        </div>

        {% if shipments|length > 0 %}
            <div class="content-container">
                <form action="{% url 'get_shipment' %}" method="get">
                    <input type="text" name="shipment_number" placeholder="Поиск отгрузки по номеру" required class="search-field">
                    <button class="search-button" type="submit">Поиск</button>
                </form>
            </div>
        {% endif %}

        {% if shipments|length > 0 %}
        <div class="content-container">
            <h2 class="content-title">История отгрузок</h2>
            <button class="one-button-container" onclick="location.href='{% url 'shipment_list' %}?order_by={% if order_by == 'asc' %}desc{% else %}asc{% endif %}'">
                {% if order_by == 'asc' %}
                    Сортировать по убыванию
                {% else %}
                    Сортировать по возрастанию
                {% endif %}
            </button>
            <div class="content">
                {% for shipment in shipments %}
                    <div class="item">
                        <div class="info">
                            <div class="id">№ {{ shipment.id }}</div>
                            <div class="supply-supplier">{{ shipment.shipDate }}</div>
                        </div>
                            <button class="button" onclick="location.href='{% url 'shipment_detail' shipment_number=shipment.id %}'">Открыть</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <h2 class="empty-title">Список отгрузок пуст</h2>
    {% endif %}
{% endblock %}
