{% extends 'templet list.html' %}
{% block title %} Список поставщиков {% endblock %}

{% block main %}
    <h1 class="header">Список поставщиков</h1>
    <div class="center-container">
        <div class="content-container">
            <button class="one-button-container" onclick="location.href='{% url 'supplier_add' %}'">Добавить поставщика</button>
        </div>
        <div class="content-container">
        {% if suppliers|length > 0 %}
            <h2 class="content-title">Поставщики</h2>
            <div class="content">
                {% for supplier in suppliers %}
                    <div class="item">
                        <div class="info">
                            <div class="id">{{ supplier.title }}</div>
                            <div class="supply-supplier">{{ supplier.phone }}</div>
                            <div class="dates">{{ supplier.address }} - {{ supplier.director }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <h2 class="empty-title">Список поставщиков пуст</h2>
    {% endif %}
{% endblock %}  
