<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список поставок</title>
    <link rel="stylesheet" href="{% static 'main/css/list.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&amp;display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'supplies' %}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    <div class="supplies-header">Список поставок</div>
    <div class="content">
        {% if supplies|length > 0 %}
            {% for supply in supplies %}
            <div class="supply-item">
                <div class="supply-info">
                    <div class="supply-id">№ {{ supply.id }}</div>
                    <div class="supply-supplier">{{ supply.supplierId }}</div>
                    <div class="supply-dates">{{ supply.orderDate }} - {{ supply.receivingDate }}</div>
                </div>
                <button class="button" onclick="location.href='{% url 'supply_detail' supply_number=supply.id %}'">Открыть</button>
            </div>
            {% endfor %}
        {% else %}
        <h2 class="empty-title">Список поставок пуст</h2>
        {% endif %}
    </div>
</body>
</html>
