<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список поставок</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
   <div class="navbar">
        <a href="{% url 'supplies' %}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    {% if suppliers|length > 0 %}
    <h2>Список поставок</h2>
    <div class = "content">
        <table>
            <thead>
                <tr>
                    <th>title</th>
                    <th>phone</th>
                    <th>address</th>
                    <th>director</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.title }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td>{{ supplier.address }}</td>
                    <td>{{ supplier.director }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h2>Список поставщиков пуст</h2>
    {% endif %}
</body>
</html>
