<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список поставщиков</title>
    <link rel="stylesheet" href="{% static 'main/css/list.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'supplies' %}">Назад</a>
        <a href="{% url 'sales' %}">Продажи</a>
        <a href="{% url 'supplies' %}">Поставки</a>
        <a href="{% url 'reports' %}">Отчёты</a>
    </div>
    {% if suppliers|length > 0 %}
    <h1 class="supplies-header">Список поставщиков</h1>
    <div class="center-container">
        <div class="content-container">
<!--            <h2 class="content-title">Поставщики</h2>-->
            <div class="content">
                {% for supplier in suppliers %}
                    <div class="supply-item">
                        <div class="supply-info">
                            <div class="supply-id">{{ supplier.title }}</div>
                            <div class="supply-supplier">{{ supplier.phone }}</div>
                            <div class="supply-dates">{{ supplier.address }} - {{ supplier.director }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <h2 class="empty-title">Список поставщиков пуст</h2>
    {% endif %}
</body>
</html>
