{% extends 'template 2.html' %}
{% block title %} Поставка №{{ supply_number }} {% endblock %}
{% block back%}<a href="{% url 'supplies_list' %}">Назад</a>{% endblock%}

{% block main %}
    <h1 class="header">Поставка №{{ supply_number }}</h1>
    <div class="center-container">
        <div class="content-container">
            <div class="content">
                 <div class="info">
                   <p>Поставщик: {{ supply.supplierId }}</p>
                   <p>Дата заказа: {{ supply.orderDate }}</p>
                   <p>Дата получения: {{ supply.receivingDate }}</p>
                 </div>
            </div>
        </div>
        <div class="content-container">
            <div class="content">
                 <div class="info">
                     <h2 class="sum_title">Сумма поставки: {{ sum }} руб</h2>
                 </div>
            </div>
        </div>
        <div class="content-container">
            <button class="button" onclick="location.href='{% url 'supply_collect' supply_id=supply.id %}'">Получить</button>
    </div>
    <div class="content-container">
            <h2 class="content-title">Содержание поставки</h2>
            <div class="content">
                {% for content in supply_content %}
                    <div class="item">
                            <div class="info">
                                <div class="id">{{ content.productId }}</div>
                                <div class="dates">{{ content.amount }} шт.</div>
                                <div class="dates">{{ content.price_one }} руб.</div>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
