<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    <title>Список поставок</title>
</head>
<body>
    <div class="back-button-container">
        <button class="button" onclick="location.href='{% url 'supplies' %}'">Назад</button>
    </div>
    {% if supplies|length > 0 %}
    <h2>Список поставок</h2>
    <div class = "content">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Поставщик</th>
                    <th>Время заказа</th>
                    <th>Время получения</th>
                    <th>Кнопка</th>
                </tr>
            </thead>
            <tbody>
                {% for supply in supplies %}
                <tr>
                    <td>{{ supply.id }}</td>
                    <td>{{ supply.supplierId }}</td>
                    <td>{{ supply.orderDate }}</td>
                    <td>{{ supply.receivingDate }}</td>
                    <td><button class="button" onclick="location.href='{% url 'supply_detail' supply_number=supply.id %}'">Открыть</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h2>Список поставок пуст</h2>
    {% endif %}
</body>
</html>
